.nav-pills li a:hover {
    background-color: green;
  }
  .logo{
    width:2.3rem
  }
  /* .Atmos-logo {
    width: 10rem;
  } */

  .bi-bell,
  .bi-person {
    font-size: 22px;
  }

  /* @media screen and (max-width: 700px) {
    .icon-list {
      display: flex;
      flex-direction: column;
    }
  } */

  @media screen and (max-width: 1000px) {
    .Atmos-logo {
      width: 6rem;
    }
  }
  @media screen and (max-width: 830px) {
    .Atmos-logo {
      width: 4rem;
    }
  }
  /* @media screen and(max-width:1500px) {
    .icon-list {
      gap: 2rem;
    }
  } */
  /* @media screen and(max-width:1200px) {
    .icon-list {
      gap: 1rem;
    }
  } */

  /* .nav-pills li a:hover {
    background-color: green;
  } */

  .Atmos-logo {
    width: 10rem;
  }

  .bi-bell,
  .bi-person {
    font-size: 22px;
  }

  /* @media screen and (max-width: 700px) {
    .icon-list {
      display: flex;
      flex-direction: column;
    }
  } */

  @media screen and (max-width: 1000px) {
    .Atmos-logo {
      width: 6rem;
    }
  }
  @media screen and (max-width: 840px) {
    .Atmos-logo {
      width: 5rem;
    }
  }
  @media screen and (max-width: 760px) {
    .Atmos-logo {
      width: 4.5rem;
    }
  }
  @media screen and (max-width: 670px) {
    .Atmos-logo {
      width: 4rem;
    }
  }


